{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="{% static 'breddit/css/bit_posts/master.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'breddit/css/bit_posts/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="back-button-container">
        <a class="back-button" href="{% url 'bit_posts:post-list-create' %}">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Breddit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:find-by-id' %}">Find by ID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:signup' %}">Signup</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container mt-5 mt-4">
        
    <h4 style="margin-left: 17px;">Breddit Post</h4>
        
{% if post %}
<div class="post">
    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-content">{{ post.content }}</p>
    <p class="post-author">Author: {{ post.user.username }}</p>
    <button class="like-button" data-post-id="{{ post.id }}">
        {% if request.user in post.upvotes.all %}<i class="fas fa-thumbs-down"></i> Unlike{% else %}<i class="fas fa-thumbs-up"></i> Like{% endif %}
    </button>
    <span class="likes-count">{{ post.upvotes.count }}</span> likes
</div>
{% endif %}

<!-- Comment input form -->
{% if user.is_authenticated %}
<div class="comment-form mt-9">
    <h1>Add a Comment</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control comment-input" name="text" rows="5" placeholder="Write your comment here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit Comment</button>
    </form>
</div>
{% endif %}


<!-- Error messages display -->
{% if messages %}
<l class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



<h1 class="mt-4" style="margin-left: 17px;">Comments</h1>
<p style="margin-left: 17px;"> These are comments for breddit ID {{ post_id }}</p>


<!-- Display top-level comments -->
<div class="comments-section">
    {% for comment in comments %}
    <div class="comment">
        <div class="comment-header">
            <span class="comment-author">{{ comment.user.username }}</span>
            <span class="comment-timestamp">{{ comment.created_at }}</span>
        </div>
        <div class="comment-content">
            <p>{{ comment.text }}</p>
        </div>
        <div class="comment-actions">
            {% if comment.user == request.user %}
            <div style="display: flex; align-items: center; justify-content: flex-start;">
                <!-- Edit Button Top-Level Comment -->
                <a class="btn btn-primary btn-sm edit-comment-button" style="text-decoration: none;" href="{% url 'bit_posts:edit-comment' comment.id %}">Edit</a>

                <!-- Delete Button for Top-Level Comment -->
                <form method="post" action="{% url 'bit_posts:delete-comment' comment.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm delete-comment-button" type="submit">Delete</button>
                </form>
            </div>
            {% endif %}
        </div>
        

        <!-- Display Reply Button for each comment -->
        <button class="open-close-replies-button" style="margin-right: 418px;">
            <i class="fas fa-chevron-down"></i> Open Replies
        </button>
        <a href="{% url 'bit_posts:reply-comment' comment.id %}" class="comment-reply-action" style="margin-right: 500px;">
            <i class="fas fa-reply"></i> Reply To Comment
        </a>
        

        <!-- Display replies to this comment if any -->
        <ul class="replies" style="display:none;">
            {% for reply in comment.subcomments.all|dictsortreversed:"created_at" %}
            <li class="reply">
                <div class="comment-header">
                    <span class="comment-author">{{ reply.user.username }}</span>
                    <span class="comment-timestamp">{{ reply.created_at }}</span>
                </div>
                <div class="comment-content">
                    <p>{{ reply.text }}</p>
                </div>
                <div class="comment-actions">
                    {% if reply.user == request.user %}
                    <div style="display: flex; align-items: center; justify-content: flex-start;">
                        <!-- Edit Button for Reply  -->
                        <a class="btn btn-primary btn-sm edit-comment-button" href="{% url 'bit_posts:update-subcomment' reply.id %}">Edit</a>
        
                        <!-- Delete Button for Reply  -->
                        <form method="post" action="{% url 'bit_posts:delete-subcomment' reply.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger btn-sm delete-comment-button" type="submit">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>



<!-- Display success and error messages -->
{% if messages %}
<div class="alert">
    {% for message in messages %}
        <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
</div>

<style>
    .alert {
        color: green;
</style>


</body>
</html>
