{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'breddit/css/bit_posts/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Breddit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if user.is_authenticated %}
                <!-- Add ml-auto class to move links to the right -->
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:find-by-id' %}">Find by ID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:signup' %}">Signup</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container mt-5 mt-4" id="post-list-container">
        <h1>Posts</h1>

        <!-- Display a form for creating a new post -->
        {% if user.is_authenticated %}
        <div class="post-form">
            <form method="post" action="{% url 'bit_posts:post-list-create' %}" id="post-form">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Give your Breddit a catchy title!" name="title" required>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" placeholder="Share your Breddits!" name="content" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
            <div id="post-form-messages"></div>
        </div>
        
        {% endif %}



        <ul class="nav nav-tabs" id="post-filter-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link fresh-tab {% if not filter_type or filter_type == 'recent' %}{% endif %}" href="?filter=recent">Fresh</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link hot-tab {% if filter_type == 'likes' %}{% endif %}" href="?filter=likes">Hot</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link trending-tab {% if filter_type == 'comments' %}{% endif %}" href="?filter=comments">Trending</a>
            </li>
        </ul>
        
        


        <!-- Display the list of posts -->
        {% for post in object_list %}
<div class="post">
    <p class="post-author">Author: {{ post.user.username }}</p>
    <h3 class="post-title" style="text-decoration: underline;">{{ post.title }}</h3>
    <p class="post-content">{{ post.content }}</p>

    {% if user.is_authenticated and post.user == user %}
    <div class="btn-group" style="margin-bottom: 10px;">
        <a href="{% url 'bit_posts:update-post' post.id %}" class="btn btn-primary btn-sm edit-post-button">Edit</a>
        <form method="post" action="{% url 'bit_posts:delete-post' post.id %}" onsubmit="return confirm('Are you sure you want to delete this post?');">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm delete-post-button" type="submit">Delete</button>
        </form>
    </div>
    {% endif %}

    <div class="custom-button" style="margin-left: 6px;">
        {% if user.is_authenticated %}
        <form action="{% url 'bit_posts:upvote-post' post.id %}" method="post">
            {% csrf_token %} 
            <button type="submit" class="like-button">
                {% if request.user in post.upvotes.all %}
                    <i class="fas fa-thumbs-down"></i> Unlike
                {% else %}
                    <i class="fas fa-thumbs-up"></i> Like
                {% endif %}
            </button>
            <span class="likes-count" id="like-count-{{ post.id }}">{{ post.upvotes.count }}</span> likes
        </form>
        {% else %}
        <a href="{% url 'bit_users:signup' %}" style="text-decoration: none; color: inherit;">
            <i class="fas fa-thumbs-up"></i> Like
        </a>
        <span class="likes-count" id="like-count-{{ post.id }}">{{ post.upvotes.count }}</span> likes
        {% endif %}
    </div>

    <div class="custom-button" style="margin-top: 10px;"> 
        <a href="{% url 'bit_posts:create-comment' post_id=post.id %}" class="comment-link">
            <i class="fas fa-comment"></i> 
            <span class="comment-text">
                Add a comment...{% if post.comments.count %} {{ post.comments.count }} comments{% endif %}
            </span>
        </a>
    </div>
    <p class="post-datetime">{{ post.created_at|date:"F j, Y g:i A" }}</p>
</div>
{% endfor %}

</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const postForm = document.getElementById("post-form");
        const postFormMessages = document.getElementById("post-form-messages");
        const postListContainer = document.getElementById("post-list-container"); 
     
        const formData = new FormData(postForm);
  
        postForm.addEventListener("submit", function (e) {
            e.preventDefault();
       
            const formData = new FormData(postForm);

            fetch(postForm.getAttribute("action"), {
                method: "POST",
                body: formData,
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"), 
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);

                    postFormMessages.innerHTML = "<div class='alert alert-success'>Post created successfully.</div>";

                    const newPost = document.createElement("div");
                    newPost.classList.add("post");
                    newPost.innerHTML = `
                        <h2 class="post-title">${data.title}</h2>
                        <p class="post-content">${data.content}</p>
                        <p class="post-author">Author: ${data.user.username}</p>
                        <button class="like-button" data-post-id="${data.id}">
                            <i class="fas fa-thumbs-up"></i> Like
                        </button>
                        <span class="likes-count">0</span> likes
                    `;
                    postListContainer.prepend(newPost); 

                    postForm.reset();
                })
                .catch((error) => {
                    console.error("Error:", error);

                    postFormMessages.innerHTML = "<div class='alert alert-danger'>An error occurred while creating the post.</div>";
                });
        });

        function getCookie(name) {
            
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Initialize Bootstrap components
        $(document).ready(function () {
            // Initialize Bootstrap Navbar
            $('.navbar-toggler').click(function () {
                $('#navbarNav').toggleClass('show');
            });
        });
    </script>

<style>

    body {
       background-color: #f2f2f2;
   }
   
   .container {
       background-color: #ffffff;
       padding: 20px;
       border-radius: 10px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
   
   .post {
       margin-bottom: 20px;
       padding: 20px;
       border: 1px solid #e0e0e0;
       border-radius: 5px;
       background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out; /* Include border in the transition */
   }
   
   .post-title {
       font-size: 24px;
       font-weight: bold;
       margin-bottom: 10px;
   }
   
   .post-content {
       font-size: 18px;
   }
   
   
   .post-author {
       font-size: 16px;
       color: #777777;
   }
   .fresh-tab:hover {
       color: #333; 
   }
   
   .hot-tab:hover {
       color: #333; 
   }
   
   .trending-tab:hover {
       color: #333; 
   }
   
   .post-form {
       margin-top: 20px;
   }
   
   .btn-primary {
       background-color: #007bff;
       border: none;
   }
   
   .btn-primary:hover {
       background-color: #0056b3;
   }
   .post-form:hover {
    background: linear-gradient(to bottom, #a0a0a0, #808080);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

</body>

.custom-button {
    display: inline-flex;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.comment-link .comment-text:hover {
    color: #0056b3; 
    background-color: #f0f0f0; 
}

.comment-link {
    display: inline-flex;
    align-items: center;
    color: #007bff;
    text-decoration: none;
    margin-left: 10px; 
}

.comment-link:hover {
    color: #0056b3;
}

.post-form {
    margin-top: 20px;
    padding: 20px;
    border: 3px solid #e0e0e0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #d0d0d0, #c0c0c0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out; 


 /* Add custom styles here */
 body {
    background-color: #f2f2f2;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out; /* Include border in the transition */
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    font-size: 18px;
}


.post-author {
    font-size: 16px;
    color: #777777;
}
.fresh-tab:hover {
    color: #333; /* Dark grey text color on hover for "Fresh" */
}

.hot-tab:hover {
    color: #333; /* Dark grey text color on hover for "Hot" */
}

.trending-tab:hover {
    color: #333; /* Dark grey text color on hover for "Trending" */
}

.post-form {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

</style>
