{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Breddit</title>

    <link rel="stylesheet" type="text/css" href="{% static 'breddit/css/templates/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Breddit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <!-- Display links for authenticated users -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Create Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bit_posts:find-by-id' %}">Find by ID</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bit_users:logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <!-- Display links for non-authenticated users -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bit_users:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bit_users:signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="container mt-5 mt-4 bg-light p-4">
        <h1 style="font-family: 'Helvetica Neue', sans-serif; font-size: 36px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Contact Us</h1>
        <p style="font-family: 'Arial', sans-serif; font-size: 18px; line-height: 1.5; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
            Have questions, suggestions, or just want to chat about bread? We'd love to hear from you!
        </p>
    
        <!-- Contact Information -->
        <div class="mt-4">
            <p><strong>Contact Information:</strong></p>
            <p><strong>Phone:</strong> +1 226-501-5252 (9:00 AM - 5:00 PM EST)</p>
            <p><strong>Instagram:</strong> <a href="https://www.instagram.com/breddit_canada/" target="_blank">https://www.instagram.com/breddit_canada/</a></p>
        </div>
    </div>
    
    
    <footer class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'privacy' %}">Privacy Policy</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/breddit_canada/"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </footer>
 
    <script>
        // Initialize Bootstrap components
        $(document).ready(function () {
            // Initialize Bootstrap Navbar
            $('.navbar-toggler').click(function () {
                $('#navbarNav').toggleClass('show');
            });
        });
    </script>

</body>
</html>

   