{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breddit</title>

    <link rel="stylesheet" type="text/css" href="{% static 'breddit/css/templates/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <nav id="div1" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Breddit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:find-by-id' %}">Find by ID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:signup' %}">Signup</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
  
    <div class="container mt-5 mt-4 bg-light p-4">
        <h1 style="font-family: 'Helvetica Neue', sans-serif; font-size: 36px; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">About Breddit</h1>
        <p style="font-family: 'Arial', sans-serif; font-size: 18px; line-height: 1.5; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
            Welcome to Breddit, the ultimate community for bread enthusiasts! Breddit is a platform where you can share your love for bread, discover new bread recipes, and engage in discussions about your favorite carb-loaded creations.
        </p>
        <p style="font-family: 'Arial', sans-serif; font-size: 18px; line-height: 1.5; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
            At Breddit, we believe that bread is more than just a staple food; it's an art form, a source of comfort, and a topic worth celebrating. We're here to provide a space for bread lovers to connect, learn, and share their passion.
        </p>

        </p>
        <p style="font-family: 'Arial', sans-serif; font-size: 18px; line-height: 1.5; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);">
            Join us on this delicious journey, explore mouthwatering recipes, and debate the eternal question: "Is garlic bread the best bread?" We invite you to be a part of Breddit and spread the love of bread far and wide.
        </p>
        {% if not user.is_authenticated %}
        <p>
            <a href="{% url 'bit_users:signup' %}">
                <button style="font-family: 'Arial', sans-serif; font-size: 20px; padding: 10px 20px; background-color: #ff6600; color: white; border: none; cursor: pointer; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Join Now</button>
            </a>
            <a href="{% url 'bit_users:login' %}">
                <button style="font-family: 'Arial', sans-serif; font-size: 20px; padding: 10px 20px; background-color: #007bff; color: white; border: none; cursor: pointer; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Log In</button>
            </a>
        </p>
        {% endif %}
    </div>
        {% if messages %}
        <div class="alert alert-dismissible fade show alert-warning" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-weight: bold";>{{ message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <br>
    </div>
    
    <!-- footer-->
    <footer class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'privacy' %}">Privacy Policy</a>
                </li>   
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/breddit_canada/"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </footer>
    

<script>
    // Initialize Bootstrap components
    $(document).ready(function () {
        // Initialize Bootstrap Navbar
        $('.navbar-toggler').click(function () {
            $('#navbarNav').toggleClass('show');
        });
    });
</script>
<script>
    // Initialize Bootstrap components
    $(document).ready(function () {
        // Initialize Bootstrap Carousel
        $('#about-carousel').carousel();
    });
</script>


</body>
</html>

