{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="{% static 'breddit/css/bit_users/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Breddit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <!-- Display links for authenticated users -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Create Post</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <!-- Display links for non-authenticated users -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_posts:post-list-create' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bit_users:signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Login Div -->
    <div class="container mt-5 mt-4 bg-light p-4">
        <h1>Login</h1>
        {% if user.is_authenticated %}
            <p>You are already logged in.</p>
        {% else %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
    
                <button type="submit">Login</button>
            </form>
            <p>Not a member? <a href="{% url 'bit_users:signup' %}">Sign up now!</a></p>
        {% endif %}
    </div>
    
    <!-- Footer -->
    <footer class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'privacy' %}">Privacy Policy</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/breddit_canada/"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </footer>
    <script>
        // Initialize Bootstrap components
        $(document).ready(function () {
            // Initialize Bootstrap Navbar
            $('.navbar-toggler').click(function () {
                $('#navbarNav').toggleClass('show');
            });
        });
    </script>
 </body>
</html>


    
    
    
